    body {
      color: #666666;
      background-color: #ffffff;
      font-family: 'Raleway', sans-serif;
      text-align: center;
      margin: 20px;
      padding: 20px;
    }
    
    h1,h2, h3, h4, h5 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
    h1 {
      font-family: 'Loved by the King', cursive;
      font-size: 72px;
      line-height:72px;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-top: 10px;
    }
  
    h2 {
      font-family: 'IM Fell English SC', serif;
      font-size: 30px;
      line-height: 32px;
      letter-spacing: 1px;
    }
  
    h3 {
      font-family: 'IM Fell English SC', serif;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 2px;
      margin: 10px;
    }
    
    h4 {
      font-size: 16px;
      line-height: 22px;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 35px;
    }
 
    h5 {
      font-size: 12px;
      line-height: 18px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 35px;
    }
    
    a {
      color: rgb(150, 0, 5);
      text-decoration:  none;
    }
    
    a:hover {
      color: rgb(175, 0, 5);
      text-decoration:  none;
      font-weight: bold;
    }
    
    .quote_mark {
      font-size: 18px;
    }
  
    .header {
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 15px;
      margin-bottom: 25px;
      padding-bottom: 15px;
    }
    
    .img_logo {
      width:100%
      max-width: 400px;
      height: auto;}
 
    .line {
      margin: auto;
      width: auto;  
      border-bottom:  1px solid #999999;
    }
  
  
    p {
      font-size: 16px;
      line-height: 24px;
      margin: 10px;
    }
  
    .chapter {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 50px;
      margin-bottom: 25px;
    }
    
    .quote {
      font-family: 'IM Fell DW Pica', serif;
      font-size: 22px;
      margin: 25px;
    }
    
    
    .footer {
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 100px;
      margin-bottom: 25px;
      padding-bottom: 15px;
    }
